@keyframes showintro{
    from{bottom:-200px;opacity:0;}
    to{bottom:50px;opacity: 100%}
}
@keyframes hideintro{
    from{bottom:50px; opacity: 100%;}
    to{bottom:-200px; opacity:0;}
}
@keyframes showdetail{
    from{top:-100vh; opacity:0;}
    to{top:$toolbar_height;opacity:100%;}
}
@keyframes hidedetail{
    from{top:$toolbar_height;opacity:100%;}
    to{top:-100vh; opacity:0;}
}
.project_intro{
    background:transparentize($background_color, 0.4);
    width:100vw;
    position:absolute;
    left:0;
    bottom:50px;
    box-sizing: border-box;
    padding:20px;
    padding-top:0;
    animation-duration: 1s;
}

@media (min-width: 750px) {
    .project_intro{
        width:500px;
        left:10vw;
        padding:40px;
        padding-top:0;
    }

    .project_meta_item{
        width:50%;
    }

}
.project_title{
    font-size: 3em;
}
.project_desc{
    font-style: italic;
}
.project_meta{
    margin-top:10px;
    display:flex;
    flex-wrap: wrap;
    .project_meta_item{
        width:100%;
        padding-right:10px;
        box-sizing: border-box;
        span{
            font-weight:bold;
            margin-right:10px;
        }
    }
}
.read_more{
    margin-top:20px;
}
.project_button{
    position:absolute;
    top:$toolbar_height;
    left:0;
    height:50px;
    width:50px;
}
.project_detail{
    display:none;
    position:absolute;
    top:$toolbar_height;
    left:0;
    bottom:0;
    overflow-y:scroll;
    width:100vw;
    background:$background_color;
    animation-duration: 1s;
}
// .project_page {
//     color: white;
//     padding-top: 2em;
//     padding-bottom: 5em;
// }
//
// .project_preview {
//     background: orange;
//     height: 75vh;
//     box-sizing: content-box;
//     position: relative;
//     -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
//     clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
//     overflow: hidden;
// }
//
// .project_preview img {
//     width: 100%;
// }
//
// .project_title {
//     font-size: 2.5em;
//     color: white;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 20vh;
//     transform: translateY(-100%);
//     text-align: center;
//     position: absolute;
//     width: 100%;
// }
//
.project_content img {
    width: 100%;
}
//
// .project_footer {
//     height: 25vh;
//     position: relative;
//     overflow: hidden;
//     -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
//     clip-path: polygon(100% 0, 0% 100%, 100% 100%);
// }
//
// .project_footer img {
//     min-width: 100%;
//     min-height: 100%;
//     position: absolute;
//     bottom: 0;
// }
