@keyframes showintro{
    from{bottom:-200px;opacity:0;}
    to{bottom:0;opacity: 100%}
}
@keyframes hideintro{
    from{bottom:0; opacity: 100%;}
    to{bottom:-200px; opacity:0;}
}
@keyframes showdetail{
    from{top:-100vh; opacity:0;}
    to{top:$toolbar_height;opacity:100%;}
}
@keyframes hidedetail{
    from{top:$toolbar_height;opacity:100%;}
    to{top:-100vh; opacity:0;}
}
.project_intro{
    background:transparentize($background_color, 0.4);
    width:100vw;
    position:absolute;
    left:0;
    bottom:0;
    box-sizing: border-box;
    padding:20px;
    padding-top:0;
    animation-duration: 1s;
}

@media (min-width: 750px) {
    .project_intro{
        width:500px;
        left:10vw;
        padding:40px;
        padding-top:0;
    }

    .project_meta_item{
        width:50%;
    }

}
.project_title{
    font-size: 3em;
}
.project_desc{
    font-style: italic;
}
.project_meta{
    margin-top:10px;
    display:flex;
    flex-wrap: wrap;
    .project_meta_item{
        width:100%;
        padding-right:10px;
        box-sizing: border-box;
        span{
            font-weight:bold;
            margin-right:10px;
        }
    }
}
.read_more{
    margin-top:20px;
}
.project_button{
    position:absolute;
    top:$toolbar_height;
    left:0;
    height:50px;
    width:50px;
}
.project_detail{
    pointer-events:none;
    display:none;
    position:absolute;
    top:$toolbar_height;
    left:0;
    bottom:0;
    overflow-y:auto;
    width:100vw;
    background:$background_color;
    animation-duration: 1s;
}

.project_content img {
    width: 100%;
}
.project_content iron-image{
    width: 100%;

}
