/*
gradient from uigradient.com
Cheer Up Emo Kid
Colour 1: #556270
Colour 2: #FF6B6B

main color: #FF8D87
background color: #4C4252
*/

.preloading {
    background: yellow;
    color: black;
}

.unresolved {
    display: none !important;
}

body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    /*    overflow-y: hidden;*/
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.gradient_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 107, 107, 0.7) 0%, rgba(85, 98, 112, 0.7) 100%);
}

.menu_overlay{
    position:absolute;
    height:100vh;
    width:100vw;
    background:#4C4252;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    display:none;
}

.menu_top{
    margin-top:50px;
    height:1px;
    width:80%;
    background:white;
}

.menu_bottom{
    height:1px;
    width:80%;
    background:white;
}

.menu_item{
    padding:20px 0;
    width:80%;
    text-align: center;
    transition:background 1s ease;
}
.menu_item a{
    padding:0;
    margin:0;
    color:white;
    text-decoration: none;
}
.menu_item:hover{
    transition:background 1s ease;
    background:rgba(255,255,255,0.2);
}

.menu_item h1{
    margin-bottom:0;
}

.menu_projects{
    width:80%;
    display:flex;
    justify-content: center;
}

.menu_project_icon{
    height:60px;
    width:60px;
    background: honeydew;
    color:brown;
    margin:10px;
}

.menu_close_button{
    height:50px;
    width:50px;
    background: cyan;
    position:absolute;
    top:0;
    right:0;
}

.main_page {
    color: white;
    height: 100vh;
}

.main_page .main_page_intro {
    text-align: right;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 1000px) {
    .main_page .main_page_intro {
        margin-bottom: 50px;
    }
}

.main_page #greeting {
    font-size: 2em;
}

.toolbar {
    height: 40px;
    position: absolute;
    width: 100%;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 59%, rgba(0, 0, 0, 0) 100%);*/
    background:rgba(255, 255, 255, 0.43);
}

.toolbar .toolbar_icon {
    color: white;
    float: left;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar .toolbar_title {
    float: left;
    padding: 0 10px;
    color: white;
    font-size: 1.5em;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu_button_container {
    position: absolute;
    right:0;
    top:0;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-right: 20px;*/
}

.project_page {
    color: white;
    padding-top: 2em;
    padding-bottom: 5em;
}

.project_preview {
    background: orange;
    height: 75vh;
    box-sizing: content-box;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    overflow: hidden;
}

.project_preview img {
    width: 100%;
}

.project_title {
    font-size: 2.5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    transform: translateY(-100%);
    text-align: center;
    position: absolute;
    width: 100%;
}

.project_content img {
    width: 100%;
}

.project_footer {
    height: 25vh;
    position: relative;
    overflow: hidden;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.project_footer img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    bottom: 0;
}

.fullheight {
    height: 100vh;
    width: 100%;
    float: left;
}

.aboutme_profile {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50vh;
    transform: translateY(-50px);
}

.aboutme_astronaut {
    position: absolute;
    width: 650px;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-370px, -151px);
    opacity: 0.4;
}

.about_title {
    text-align: center;
}

.about_main {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 47px -15px rgba(0, 0, 0, 0.75);
}

.about_intro .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.about_skill {
    background: green;
}

.about_skill .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.about_skill .about_comfortable {
    display: flex;
    flex-flow: wrap;
}

.about_skill .about_comfortable>h4:first-child {
    min-width: 200px;
    margin: 20px 0;
}

.about_skill .about_comfortable>div {
    display: flex;
    flex-flow: wrap;
}

.about_skill .about_comfortable .comfort_item {
    display: flex;
    align-items: stretch;
    padding-left: 20px;
}

.about_skill .about_comfortable .comfort_item p {
    align-self: center;
    margin-bottom: 0;
}

@media (min-width: 1000px) {
    .about_skill .about_comfortable .comfort_item {
        flex: 1;
    }
}

.about_skill .about_comfortable .comfort_item iron-icon {
    margin-right: 20px;
    height: 60px;
    width: 60px;
}

.about_language {
    margin-top: 20px;
}

.about_language i {
    padding: 20px;
    font-size: 60px;
}

.about_contact {}

.about_contact .container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about_contact h4 {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.about_contact .social_icons {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.aboutme_profile img {
    max-width: 100%;
    width: 100%;
}

.aboutme_astronaut {}

html {
    overflow-y: auto;
    background-color: transparent;
}

@media only screen and (max-device-width:480px) {
    html {
        overflow: auto;
    }
}


/*scrollbar*/
::-moz-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-moz-scrollbar-button:start:decrement,
::-moz-scrollbar-button:start:decrement {
    height: 0px;
    display: block;
    background-color: black;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: black;
}

::-moz-scrollbar-track-piece {
    background-color: #3b3b3b;
    /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
    /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}

::-moz-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}

::-moz-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}
