/*
gradient from uigradient.com
Cheer Up Emo Kid
Colour 1: #556270
Colour 2: #FF6B6B

main color: $main_color
background color: $background_color
*/
@import 'color';
@import 'preload';
@import 'menu';
@import 'global_widget';
@import 'index';
@import 'project';
@import 'about';


.unresolved {
    display: none !important;
}

body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    /*    overflow-y: hidden;*/
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.gradient_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $main_gradient;
}

.fullheight {
    min-height: 100vh;
    width: 100%;
    float: left;
}


html {
    overflow-y: auto;
    background-color: transparent;
}

@media only screen and (max-device-width:480px) {
    html {
        overflow: auto;
    }
}

.light_button{
    box-sizing: border-box;
    color:white;
    background-color:transparentize(white, 0.7);
    display:inline-block;
    padding:5px 10px;
    font-weight: bold;
    cursor:pointer;
}
.overlay_popup{
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    pointer-events:none;
}
