/*
gradient from uigradient.com
Cheer Up Emo Kid
Colour 1: #556270
Colour 2: #FF6B6B

main color: $main_color
background color: $background_color
*/
.fullpage, .show_nav, .preload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.show_nav {
  display: none;
  background: #4C4252; }

.show_nav .phone_frame {
  height: 60px;
  width: 40px;
  border-radius: 10px;
  border: 2px white solid;
  position: absolute;
  top: 50vh;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-20px, -30px); }

@keyframes slidescreen {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-35px); } }

.show_nav .screens {
  position: absolute;
  height: 45px;
  width: 25px;
  overflow: hidden;
  top: 50vh;
  left: 50%;
  transform: translate(-12.5px, -22.5px); }

.show_nav .screens .screen_tape {
  width: 100px; }

.show_nav .screens .screen {
  height: 45px;
  width: 25px;
  background: rgba(255, 255, 255, 0.5);
  float: left;
  margin-right: 10px;
  animation-name: slidescreen;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s; }

@keyframes slidedot {
  from {
    margin-left: 40px; }
  to {
    margin-left: -10px; } }

.phone_frame .dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: white;
  margin-top: 25px;
  animation-name: slidedot;
  animation-duration: 1.5s;
  animation-iteration-count: 1; }

.show_nav .nav_instruction {
  position: absolute;
  top: 50vh;
  margin-top: 60px;
  width: 100%;
  text-align: center; }

.preload {
  background: #4C4252;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.preload .preload_greeting {
  width: 100%;
  text-align: center;
  margin-top: 20px; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader:before,
.loader:after {
  position: absolute;
  content: ''; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #4C4252;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #4C4252;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.menu_overlay {
  user-select: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #4C4252;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none; }

.menu_top {
  margin-top: 50px;
  height: 1px;
  width: 80%;
  background: white; }

.menu_bottom {
  height: 1px;
  width: 80%;
  background: white; }

.menu_item {
  cursor: pointer;
  padding: 20px 0;
  width: 80%;
  text-align: center;
  transition: background 1s ease; }

.menu_item a {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none; }

.menu_item:hover {
  transition: background 1s ease;
  background: rgba(255, 255, 255, 0.2); }

.menu_item h1 {
  margin-bottom: 0; }

.menu_projects {
  width: 80%;
  display: flex;
  justify-content: center; }

.menu_project_icon {
  cursor: pointer;
  height: 60px;
  width: 60px;
  background: honeydew;
  color: brown;
  margin: 10px; }

.menu_close_button {
  height: 50px;
  width: 50px;
  background: cyan;
  position: absolute;
  top: 0;
  right: 0; }

.nav_button, .left_button, .right_button {
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 50vh;
  transform: translateY(-25px);
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1s ease; }

.nav_button:hover, .left_button:hover, .right_button:hover {
  opacity: 1;
  transition: opacity 1s ease; }

.left_button {
  display: none !important;
  left: 0; }

.right_button {
  display: none !important;
  right: 0; }

/* Larger than tablet */
@media (min-width: 750px) {
  .left_button, .right_button {
    display: inline-flex !important; } }

.copyright {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center; }

.toolbar {
  height: 40px;
  position: absolute;
  width: 100%;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 59%, rgba(0, 0, 0, 0) 100%);*/
  background: rgba(255, 141, 135, 0.8); }

.toolbar .toolbar_icon {
  color: white;
  float: left;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.toolbar .toolbar_title {
  float: left;
  padding: 0 10px;
  color: white;
  font-size: 1.5em;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

#menu_button_container {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-right: 20px;*/ }

.progress_container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .progress_container .progress_bar {
    position: relative;
    height: 2px;
    width: 80%;
    background-color: pink;
    padding: 0 !important; }
  .progress_container .progress_bar_overlay {
    height: 2px;
    width: 80%;
    background-color: white;
    margin: 0 !important; }
  .progress_container .progress_dot {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px white solid;
    box-sizing: border-box;
    transform: translate(-5px, -5px);
    top: 1px;
    left: 50%; }

.main_page {
  color: white;
  height: 100vh; }

.main_page .main_page_intro {
  text-align: right;
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 50px; }

.main_page #greeting {
  font-size: 2em; }

@keyframes showintro {
  from {
    bottom: -200px;
    opacity: 0; }
  to {
    bottom: 50px;
    opacity: 100%; } }

@keyframes hideintro {
  from {
    bottom: 50px;
    opacity: 100%; }
  to {
    bottom: -200px;
    opacity: 0; } }

@keyframes showdetail {
  from {
    top: -100vh;
    opacity: 0; }
  to {
    top: 40px;
    opacity: 100%; } }

@keyframes hidedetail {
  from {
    top: 40px;
    opacity: 100%; }
  to {
    top: -100vh;
    opacity: 0; } }

.project_intro {
  background: rgba(76, 66, 82, 0.6);
  width: 100vw;
  position: absolute;
  left: 0;
  bottom: 50px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  animation-duration: 1s; }

@media (min-width: 750px) {
  .project_intro {
    width: 500px;
    left: 10vw;
    padding: 40px;
    padding-top: 0; }
  .project_meta_item {
    width: 50%; } }

.project_title {
  font-size: 3em; }

.project_desc {
  font-style: italic; }

.project_meta {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; }
  .project_meta .project_meta_item {
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box; }
    .project_meta .project_meta_item span {
      font-weight: bold;
      margin-right: 10px; }

.read_more {
  margin-top: 20px; }

.project_button {
  position: absolute;
  top: 40px;
  left: 0;
  height: 50px;
  width: 50px; }

.project_detail {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 100vw;
  background: #4C4252;
  animation-duration: 1s; }

.project_content img {
  width: 100%; }

.project_content iron-image {
  width: 100%; }

.aboutme_profile {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  left: calc(50vw - 50px);
  top: calc(50vh - 50px); }

.aboutme_astronaut {
  position: absolute;
  width: 650px;
  left: 50vw;
  top: 50vh;
  transform: translate(-370px, -151px);
  opacity: 0.4; }

.about_title {
  padding-top: 100px;
  text-align: center; }

.about_main {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 47px -15px rgba(0, 0, 0, 0.75);
  background: linear-gradient(135deg, rgba(255, 107, 107, 0.7) 0%, rgba(85, 98, 112, 0.7) 100%), url(../images/planet.jpg);
  background-size: cover;
  background-position: center; }

.about_intro {
  display: flex;
  align-items: center; }

.about_skill {
  background: #66596e;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around; }

.about_skill .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.about_skill .about_comfortable {
  width: 100%;
  display: flex;
  flex-flow: wrap; }

.about_skill .about_comfortable h4:first-child {
  width: 100%;
  margin: 20px 0; }

.about_skill .about_comfortable .comfort_item {
  display: flex; }

.about_skill .about_comfortable .comfort_item iron-icon {
  flex-shrink: 0;
  margin-right: 20px;
  height: 40px;
  width: 40px; }

.about_skill .about_language {
  width: 100%; }

.about_language div {
  display: flex;
  flex-wrap: wrap; }

.about_language i {
  padding: 20px;
  font-size: 40px; }

.about_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.about_contact .container {
  display: flex;
  flex-grow: 2;
  align-items: center; }

.about_contact .social_icons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }

.about_contact .social_icons a {
  color: white; }

.aboutme_profile img {
  max-width: 100%;
  width: 100%; }

.unresolved {
  display: none !important; }

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  /*    overflow-y: hidden;*/
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

.gradient_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba(255, 107, 107, 0.7) 0%, rgba(85, 98, 112, 0.7) 100%); }

.fullheight {
  min-height: 100vh;
  width: 100%;
  float: left; }

html {
  overflow-y: auto;
  background-color: transparent; }

@media only screen and (max-device-width: 480px) {
  html {
    overflow: auto; } }

.light_button {
  box-sizing: border-box;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer; }
