neon-animatable.landing
    .gradient_overlay
    .container.main_page
        .main_page_intro.
            #[span#greeting Hello,#[br] I am Yiou Chen.] 
            #[br]I am 
            a designer / developer interested in web and 
            game development
    