.menu_overlay
    .menu_top
    .menu_item(on-tap="_onMenuItemClicked",data-route="main") 
        h1 Home
    .menu_item(on-tap="_onMenuItemClicked",data-route="project/tmood")
        h1 Projects
    .menu_item
        a(href="http://yiou.me/Blog/")
            h1 Blog
    .menu_item(on-tap="_onMenuItemClicked",data-route="about")  
        h1 About
    .menu_bottom
