.show_nav
    .screens
        .screen_tape
            .screen
            .screen
    .phone_frame
        .dot
    .nav_instruction
        h3 Swipe to navigate
.preload
    .loader
    .preload_greeting 
        h4 Loading content...
