neon-animatable(data-route="project/chinablue")
    template(is="dom-if", if="{{!desktop}}")
        iron-image.project_image(sizing="cover", position="right top", src="images/project/chinablue/posterSum.png")
    template(is="dom-if", if="{{desktop}}")
        iron-image.project_image(sizing="cover", position="center", src="images/project/chinablue/posterSum.png")
    .gradient_overlay
    .project_intro
        .project_title Design for ChinaBlue
        .project_desc Designs I created as a designer for a school club called ChinaBlue.
        .project_meta
            .project_meta_item #[span Date] 2014 - present
            .project_meta_item #[span Place] Stony Brook University
            .project_meta_item #[span Softwares] Photoshop, Illustrator
        .read_more.light_button(on-tap="_onProjectClick") Read More
            
    
    //
        .project_preview
            template(is="dom-if", if="{{!desktop}}")
                img(src="images/tmood_vertical_01.png")
            template(is="dom-if", if="{{desktop}}")
                img(src="images/tmood_horizontal_01.png")
            .gradient_overlay
    .project_detail
        
        .container.project_content 
            .project_title Design for ChinaBlue #[shape-shifter(shape="cancel",color="#fff",on-tap="_onProjectClick")]
            h5 I am a designer for a school media club called ChinaBlue. ChinaBlue's mission is to spread awareness of the chinese community to people on campus through events and the media. My responsibility is basically creating event posters, making T-shirt designes and work on other miscellaneous design projects.
            iron-image(src="images/project/chinablue/chinablue.png")
            p Flyer for first General Body Meeting(GBM).
            iron-image(src="images/project/chinablue/Mid-Autumn.png")
            p Mid-Autumn festival Flyer.
            iron-image(src="images/project/chinablue/papercut.png")
            p For a club meeting in which we did paper cutting.
            iron-image(src="images/project/chinablue/secondgbmlantern.png")
            p Lantern making GBM(General Body Meeting)
            iron-image(src="images/project/chinablue/Radiowithdate.png")
            p A meeting about the history of ChinaBlue
            iron-image(src="images/project/chinablue/LunarNewYear.png")
            p Flyer for the Lunar New Year GBM(General Body Meeting)
            
        
    //
        .project_footer
            template(is="dom-if", if="{{!desktop}}")
                img(src="images/tmood_vertical_02.png")
            template(is="dom-if", if="{{desktop}}")
                img(src="images/tmood_vertical_02.png")
            .gradient_overlay
            .copyright Copyright &#169;2016 Yiou Chen. All rights reserved.
        
            
